/*

	Demo general styles

	*/
	body{
		overflow:hidden;
	}
	.codeBlock{
		position: absolute;
		margin-left: 48%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.runCodeButton{
		margin-left: 36%;
	}

	#canvas2Wrap{
	}

/*

	Slider styles

	*/

	#zoomSliderController{
		position: absolute;
		right: 18px;
	}

	#zoomSlider .slider-handle {
		background: gray;
		border: 1px solid black;
		height:  9px;
		margin-left: -9px;
	}

	#zoomInButton{
		margin-left: -6px;

	}

	#zoomOutButton{
		margin-left: -23px;
	}

	#zoomSliderController>.slider.slider-vertical .slider-track {
		width: 3px;
		height: 100%;
		margin-left: -5px;
		left: 50%;
		top: 0;
		border: 1px solid black;
	}

	.zoomSliderButton{
		position: absolute;
		
		height: 25px;
		width: 25px;

		color: black;
		box-shadow: 1px 1px 2px 0px rgb(103, 103, 103);
		border: 1px solid black;
		background-color: rgb(215, 215, 215);
		text-align: center;
		cursor: default;
	}
